body html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: simplifica;
    src: url(img/SIMPLIFICA-Typeface.ttf);
}

@font-face {
  font-family: raleway;
  src: url(img/Raleway-Light.ttf);
}
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-img {
  background-image: url(img/vintage-concrete.png);
  background-position: center center;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

#parent-container {
  margin: 0 auto;
  padding: 0;
  width: 100%
}

#introduction-area {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(img/european-city.jpg);
    background-position: center center;
    background-repeat: repeat;
    height: 750px;
}

#top-buffer {
  height: 5%;
}

.top-div-wrapper-row {
  height: 31.66%;
}

.top-col-wrapper {
  height: 100%;
}

.top-div-row {
  height: 50%;
}

.pathway-button {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: simplifica;
  font-size: 1.4em;

}
#title-wrapper {
  height: 100%;
  text-align: center;
}

#pathways-title {
  font-family: simplifica;
  font-size: 6em;
  letter-spacing: .2em;
  color: white;
  
}

 #pathways-header {
   margin-top: 100px;
 }


 #description-row {
   margin-top: 10px;
   margin-bottom: 20px;
   height: 30px;
 }

 #pathways-subtitle {
   font-family: simplifica;
   font-size: 2em;
   color: white;
 }

 #explanation-row {
   margin-top: 100px;
 }

 #explanation-text {
   font-family: simplifica;
   font-size: 20px;
   color: white;
 }

#tour-start-wrapper {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#tour-start {
  border-radius: 50%;
  color: black;
  border: 2px solid #00144d;
}

#tour-start:active {
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

#legend-row {
  margin-top: 10px;
  height: 50px;

}

#legend-row div {
  padding: 0;
  border: 1px;
  height: 40px;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#legend-row div p {
  margin: -3px;
  font-weight: bold;
  font-size: 10px;
}

#graph-area {

  margin: 0 auto;
  height: 750px;
  width: 100%;
  background-image:     linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url(img/white-world-map.jpg);
  background-position: center center;
  background-repeat: repeat;
}

#mynetwork {
    margin: 0 auto;
    height: 700px;
    width: 100%;
}

#course-area {
  width: 100%;
  height: 700px;
  display: none;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(img/books-bookshelf.jpg);
  background-position: center center;
  background-repeat: repeat;

}

#course-title-row {
  margin-top: 50px;
}

#course-title {
  font-family: simplifica;
  font-size: 3em;
  letter-spacing: 0.04em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

#course-description-row {
  font-family: raleway;
  margin-top: 25px;
}

#course-description {
  font-size: 1.25em;
  /*background-color: rgba(0, 0, 0, .4);*/
}

#course-description-header {
  text-align: center;
}

#course-description-body {
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}


#course-pathways-row {
  font-family: raleway;
  font-size: 1em;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, .4);
}


#pathway-1 {
}

#pathway-2 {
}

#pathway-3 {
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

#pathway-header-1 {
  text-align: center;
}

#pathway-header-2 {
  text-align: center;
}

#pathway-header-3 {
  text-align: center;
}


#path-list-1 {
}

#path-list-2 {
}

#path-list-3 {
}

#course-description {
  color: white;
}


#law-button {
  background: linear-gradient(to right, rgb(139, 71, 137, .7), rgb(235, 209, 234, .2));
}

#law-button:active {
  background: rgb(139, 71, 137, .7);
}

#gender-button {
  background: linear-gradient(to right, rgb(255, 255, 102, .7), rgb(245, 245, 209, .45));
}

#borders-button {
  background: linear-gradient(to left, rgb(0, 171, 255, .7), rgb(219, 243, 255, .2));
}

#intellec-button {
  background: linear-gradient(to left, rgb(255, 165, 0, .7), rgb(241, 222, 187, .45));
}

#economic-button {
  background: linear-gradient(to right, rgb(0, 255, 51, .7), rgba(207, 241, 184, 0.45));
}

#war-button {
  background: linear-gradient(to right, rgb(255, 192, 203, .7), rgb(255, 234, 238, .3));
}

#religious-button {
  background: linear-gradient(to left,rgb(64, 224, 208, .7),rgb(207, 255, 250, .3));
}

#human-button {
  background: linear-gradient(to left, rgb(165, 42, 42, .7), rgb(255, 185, 185, .2));
}

#historical-button {
  background: linear-gradient(to right, rgb(0, 128, 0, .7), rgb(174, 255, 174, .3));
}

#slavery-button {
  background: linear-gradient(to right, rgb(117, 99, 196, .7), rgb(212, 202, 255, .2));
}

#space-button {
  background: linear-gradient(to left, rgb(199, 146, 199, .7), rgb(255, 218, 255, .3));
}
#politics-button {
  background: linear-gradient(to left, rgb(255, 102, 102, .7), rgb(247, 183, 183, .2));
}
#Law-Icon {
  color: #8b4789;
}
#Gender-Icon {
  color: #ffff66;
}

#Borders-Icon {
  color: #00abff;
}

#Intellectual-Icon {
  color: #ffa500;
}

#Economic-Icon {
  color: #00FF33;
}

#War-Icon {
  color:#ffc0cb;
}

#Religious-Icon {
  color: #40e0d0;
}

#Human-Icon {
  color: #a52a2a;
}

#Historical-Icon {
  color: #008000;
}

#Slavery-Icon {
  color: #7563c4;
}

#Space-Icon {
  color: #c792c7;
}

#Politics-Icon {
  color: #FF6666;
}

#color-word-HD {
  color: #c2004d;
}

#color-word-edges {
  color: #00abff;
}

#color-word-pathways {
  color:#ffc0cb;
}

#color-word-HD {
  color: #c2004d;
}

#color-word-edges {
  color: #00abff;
}

#color-word-pathways {
  color:#ffc0cb;
}


#footer-line {
  width: 75%;
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
}

#signature-wrapper {
  text-align: center;
}

#signature-wrapper p {
  font-size: 16px;
  font-weight: bold;
}
