body, html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: simplifica;
  src: url(img/SIMPLIFICA-Typeface.ttf);
}

@font-face {
  font-family: raleway;
  src: url(img/Raleway-Light.ttf);
}

ul {
  position: relative;
  list-style-type: none;
}

li {
  position: relative;
  display: flex;
  margin: 5px;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.background-img {
  background-image: url(img/vintage-concrete.png);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#parent-container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/**********/

#introduction-area {
    background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(img/college-hall-green.jpg);
    background-position: center center;
    background-repeat: repeat;
    height: 850px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#top-wrapper-row {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#top-descriptions-center {
  height: 100%;
}

#title-wrapper {  
  height: 20%;
  text-align: center;
  margin-bottom: 5%;
}

#pathways-title {
  font-family: simplifica;
  font-size: 10em;
  letter-spacing: .2em;
  color: white;
}

 #pathways-subtitle {
  font-family: 'Open Sans', sans-serif;
   font-size: 2em;
   color: white;
 }

 #tour-start-wrapper {
  height: 10%;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

#shield-start {
  height: 5.7em;
  width: 5em;
}

#page-description-wrapper {
   margin-top: 5%;
   height: 20%;
   display: block;
   background-color: rgba(0, 0, 0, .4);
   margin-bottom: 10%;  
 }

 #explanation-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
 }

#explanation-text {
 font-family: 'Open Sans', sans-serif; 
 font-size: 1.2em;
 color: white;
}

#arrow-wrapper {
  height: 10%;
}

#arrow {
  display: block;
  margin-left: 47.1%;
  margin-right: 45%;
}

#tour-start {
  font-family: 'Open Sans', sans-serif; 
   font-size: 1.1em;
   color: white;
   height: 100%;
   width: 100%;
 }

 /**********/

 #pathway-area {
  height: 850px;
  width: 100%;
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url(img/adventure-ancient.jpg);
 }

 #pathway-column-right-wrapper {
  height: 100%;
  padding-left: 5px;
  overflow-y: auto;
}

#pathway-column-right {
  height: 100%;
}

#pathway-column-left-wrapper {
  height: 100%;
  padding-right: 5px;
  overflow-y: auto;
}

#pathway-column-left {
  height: 100%;
}

#pathway-middle-wrapper {
  height: 100%;
}

#pathway-area-title-wrapper {
  margin-top: 5%;
  height: 10%
}

#pathway-explanation-wrapper {
  margin-top: 5%;
  height: 30%;
}

#pathway-explanation {
  font-size: 1.4em;
  font-family: "Open Sans", "sans-serif";
  color: white;
  justify-content: center;
  text-align: justify;
  /*background-color: rgba(0, 0, 0, .4);*/
}

#pathway-area-title {
  font-family: simplifica;
  font-size: 5em;
  color: white;
  text-align: center;
}
#pathway-description-wrapper {
  margin: 5%;
  height: 25%;
  min-height: 5em;
  display: none;
  background-color: rgba(0, 0, 0, .2 );
}

#pathway-description {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#pathway-description-title {
 font-family: 'Open Sans', sans-serif; 
 font-size: 1.7em;
 text-align: center;
}

#pathway-description-text {
 font-family: 'Open Sans', sans-serif; 
 font-size: 1.2em;
 color: white;
}

.pathway-button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: white;
}

.pathway-button:hover  {
  cursor: pointer;
}

 /**********/

#graph-area {
  margin: 0 auto;
  height: 800px;
  width: 100%;
  background-image:     linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ), url(img/grungy-dark-background.jpg);
  background-position: center center;
  background-repeat: repeat;
}

.graph-container {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;  
}

#network-header-wrapper {
  height: 15%;
  display: flex;
}

#network-header {
  margin-left: 1em; 
  font-family: simplifica;
  font-size: 4em;
  color: white;
  margin-bottom: .5em;
}

#help-icon-container {
  position: absolute !important;
  right: 0;
  top: 0;
  height: 10em;
  width: 10em;
  margin-right: .5em;
}

#help-button {
  font-size: 7.5em;
  float: right;
  color: #b0abab;
}

#help-button:hover {
  color: white;
  cursor: pointer;
}

#tour-invisible-start {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 40%;
  right: 60%;
  top: 50%;
  bottom: 50%;
}

#tour-invisible-node {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 70%;
  right: 30%;
  top: 30%;
  bottom: 70%;
}

#tour-invisible-description {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 40%;
  right: 60%;
  top: 50%;
  bottom: 50%;
}


#mynetwork {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

#pathway-legend-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 15em;
  width: 30em;
}

.legend-wrapper {
  height: 20%;
  position: relative;
  margin-bottom: 2em;

}

.legend-icon {
  float: left;
  height: 2em;
  width: 2em;
  display: none;
  border-radius: 50%;
  margin-left: 1em;
  margin-right: 1em;
}


.legend {
  height: 100%;
  width: 18em;
  margin-left: 2em;
  display: flex;
  justify-content: left;
  align-content: center;
  font-family: 'Open Sans', sans-serif;   
  font-size: 1.2em;
}

.legend:hover {
  font-size: 1.4;
}

/**********/


#course-area {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 850px;
  max-height: 2000px; 
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url(img/trade-routes-1.jpg);
  background-position: center center;
  background-repeat: repeat;
}

#course-information-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 15em;
  width: 30em;
  margin-left: 1em; 
  font-family: simplifica;
  font-size: 4em;
  color: white;
  margin-bottom: .5em;
  display: flex;
  justify-content: left;
  align-content: center;

}
#course-title {
  font-family: simplifica;
  font-size: 3em;
  margin-top: 2em;
  letter-spacing: 0.07em;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#course-description-row {
  font-family: 'Open Sans', sans-serif;   
  margin-top: 25px;
}

#course-description {
  font-size: 1.25em;
  /*background-color: rgba(0, 0, 0, .4);*/
}

#course-description-header {
  text-align: center;
}

#course-description-body {
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

#course-details-row {
  font-family: 'Open Sans', sans-serif; 
}

#course-type {
  font-size: 1.125em;
  color: white;
  text-align: center;
}

#course-instructor {
  font-size: 1.125em;
  color: white;
  text-align: center;
}

#course-pathways-row {
  font-family: 'Open Sans', sans-serif; 
  font-size: 1em;
  margin-top: 50px;
  color: white;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

#pathway-header-1 {
  text-align: center;
}

#pathway-header-2 {
  text-align: center;
}

#pathway-header-3 {
  text-align: center;
}


#course-description {
  color: white;
}


#color-word-HD {
  color: #c2004d;
}

#color-word-edges {
  color: #00abff;
}

#color-word-pathways {
  color:#ffc0cb;
}

#color-word-HD {
  color: #c2004d;
}

#color-word-edges {
  color: #00abff;
}

#color-word-pathways {
  color:#ffc0cb;
}


#footer-line {
  width: 75%;
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
}

#signature-wrapper {
  text-align: center;
}

#signature-wrapper p {
  font-size: 16px;
  font-weight: bold;
}
